<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar datos</title>
</head>
    
<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover">


    <div class="w-full justify-center flex items-center h-auto lg:h-screen flex-wrap mx-auto my-16 lg:my-0">

        <!--Main Col-->
        <div id="update-profile"
            class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">


            <div class="p-4 md:p-12 text-center lg:text-left">
                <h1 class="text-3xl font-bold pt-8 lg:pt-0">Actualizar Datos</h1>
                
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>

                <form class="pt-6">
                    <div class="flex items-center justify-start flex-row">
                        <h1 class="font-bold pt-4 mr-5">Documento:</h1> 
                        <input type="text" class="w-1/2 pl-10 text-sm text-gray-700" value="123456789" placeholder="Ingrese su documento">
                    </div>
                    <div class="flex items-center justify-start flex-row pt-4">
                        <h1 class="font-bold pt-4 mr-5">Número:</h1> 
                        <input type="tel" class="w-1/2 pl-10 text-sm text-gray-700" value="302 3811665" placeholder="Ingrese su número de teléfono">
                    </div>
                    <div class="flex items-center justify-start flex-row pt-4">
                        <h1 class="font-bold pt-4 mr-5">Correo:</h1> 
                        <input type="email" class="w-1/2 pl-10 text-sm text-gray-700" value="diazj9595@gmail.com" placeholder="Ingrese su correo electrónico">
                    </div>
                    <div class="flex items-center justify-start flex-row pt-4">
                        <h1 class="font-bold pt-4 mr-5">Dirección:</h1> 
                        <input type="text" class="w-1/2 pl-10 text-sm text-gray-700" value="calle 81 #75-3" placeholder="Ingrese su dirección">
                    </div>
                    <div class="pt-12 pb-8">
                        <a href="./datosCambiados.html" class="px-5 py-5">
                            <span class="bg-amber-700 hover:bg-amber-900 text-white font-bold py-2 px-4 rounded-full">
                               actualizar datos 
                            </span>
                        </a>
                        </a>
                    </div>
                </form>
            </div>

        </div>

    </div>


</body>
</html>