<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
</head>
    
<body class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover">


    <div class="w-full justify-center flex items-center h-auto lg:h-screen flex-wrap mx-auto my-16 lg:my-0">

        <!--Main Col-->
        <div id="password-changed"
            class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">


            <div class="p-4 md:p-12 text-center lg:text-left">
                <h1 class="text-3xl font-bold pt-8 lg:pt-0">Contraseña cambiada con éxito</h1>
                
                <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>

                <p class="py-10 text-lg">Su contraseña ha sido cambiada con éxito. Puede iniciar sesión con su nueva contraseña.</p>

                <a href="./inicioSesion.html" class="px-5 py-5">
                    <span class="bg-amber-700 hover:bg-amber-900 text-white font-bold py-2 px-4 rounded-full">
                        iniciar sesion
                    </span>
                </a>
                    </a>
                </div>
            </div>

        </div>

    </div>

</body>
</html>