<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAM</title>
    <link rel="stylesheet" href="../styles/outputt.css">
    <link rel="shortcut icon" href="../img-prin/favicom.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
</head>
<body>
    <header>
    <nav class="navigation">
		<ul class="menu-horizontal">
			
            <li><img class="logo" src="../img-prin/logo.png" alt=""></li>
            <li><a href="#" class="active">Inicio</a></li>
			<li><a href="#">Adopciones</a></li>
            <li><a href="#">Donaciones</a></li>
			<li>
				<a href="#">Informes<i class="ri-arrow-down-s-line"></i></a>
                
				<ul class="menu-vertical">
					<li><a href="#">Adoptadas</a></li>
					<li><a href="#">Donadas</a></li>
                    <li><a href="#">Favoritos</a></li>
				</ul>
			</li>
			
            <li><i class="ri-search-line nav_buscar" id="buscar_btn"></i></li>
            <li><i class="ri-user-line nav_login" id="login_btn"></i></li>
		</ul>
	</nav>
    </header>
    <div class="contenedor-externo">
        <div class="interno1">
            <img src="../img-prin/perro1.jpg" alt="" class="imagen">
        </div>
        <div class="interno2">
            <h3>Descripcion</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et eveniet consectetur labore atque maxime vitae quae dolor possimus voluptatibus. Assumenda ad enim iusto facere aliquam voluptatem similique praesentium! Doloribus, facere.</p>
        </div>
        <div class="interno3">
            <a href="#" class="input">Ver perfil</a>
            <a href="#" class="input">Estado: <br>No disponible</a>
        </div>
    </div>
    <div class="contenedor-externo">
        <div class="interno1">
            <img src="../img-prin/perro2.jpg" alt="" class="imagen">
        </div>
        <div class="interno2">
            <h3>Descripcion</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et eveniet consectetur labore atque maxime vitae quae dolor possimus voluptatibus. Assumenda ad enim iusto facere aliquam voluptatem similique praesentium! Doloribus, facere.</p>
        </div>
        <div class="interno3">
            <a href="#" class="input">Ver perfil</a>
            <a href="#" class="input">Estado: <br> Disponible</a>
        </div>
    </div>
    <script src="PagInformes.js"></script>
</body>
</html>